*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  padding-top: 50px;
  color: #333;
  background-color: #e1e9f0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01rem;
  text-decoration-skip: ink;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Vollkorn', serif;
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 60px;
}

h2 > span {
  position: relative;
}

h2 > span:after {
  position: absolute;
  right: 0;
  bottom: -4px;
  left: 0;
  height: 3px;
  background-color: #0f7ed9;
  content: '';
}

h3 {
  display: block;
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  position: relative;
  color: #0f7ed9;
  font-weight: 600;
  text-decoration: none;
}

a:before {
  position: absolute;
  right: 0;
  bottom: -4px;
  left: 0;
  height: 1px;
  background-color: #0f7ed9;
  content: '';
  transition: opacity 0.2s;
  opacity: 0;
}

a:hover:before {
  opacity: 1;
}

p {
  margin-bottom: 40px;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  display: block;
  margin-bottom: 40px;
  list-style-position: inside;
}

address {
  font-style: normal;
}

/* Navigation Bar */

.navigation-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #0f7ed9;
}

.navigation-bar a {
  display: block;
  margin-right: 16px;
  margin-left: 16px;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.navigation-bar a:before {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .navigation-bar a {
    margin-right: 30px;
    margin-left: 30px;
  }
}

/* Section */

.section {
  width: 100%;
  padding-top: 50px;
  padding-right: 12px;
  padding-bottom: 50px;
  padding-left: 12px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section > div {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.section:nth-of-type(even) {
  background-color: #f9f7f7;
}

/* Header */

.header {
  text-align: center;
}

.header img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 6px solid rgba(255, 255, 255, 0.3);
}

/* Columns */

.columns {
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .columns {
    display: flex;
  }
}

.columns > .header {
  flex-basis: 0;
  flex-grow: 0;
}

@media only screen and (min-width: 768px) {
  .columns > .header {
    margin-right: 40px;
  }
}

.columns > div {
  flex-grow: 1;
  flex-basis: 100%;
}

/* Paper */

.paper {
  margin-bottom: 40px;
}

.paper > header {
  margin-bottom: 20px;
}

.paper > header > h3 {
  margin-bottom: 0;
}

.paper > header > span {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .paper {
    margin-bottom: 60px;
  }
}

/* Timetable */

.timetable {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.timetable td {
  padding-bottom: 10px;
  vertical-align: top;
}

.timetable td:first-child {
  width: 100px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .timetable {
    margin-bottom: 60px;
  }

  .timetable td:first-child {
    width: 200px;
  }
}

/* Footer */

.footer {
  display: block;
  padding: 20px 12px;
  background-color: #e1e9f0;
  font-weight: 600;
  text-align: center;
  color: #555;
  font-size: 1.4rem;
}

/* Icons */

.icon {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  vertical-align: sub;
}

/* Download */

.download {
  display: block;
  width: 100%;
  text-align: center;
}
